$gutter: 1rem;
$large-gutter: $gutter * 4;

$deviceWidth: 360px;
$deviceHeight: 800px;
$deviceNavbarHeight: 72px;

$tipColor: #1468CB;
$tipColorSecondaryHue: #1253A0;
$tipColorAccent: #fff;

$ctaPrimary: #8DE8FE;
$ctaIdling: #fff;

$backgroundColor: #0C131F;
$surfaceColor: #242B35;

$gridGap: 8px;
$containerInnerPadding: $gridGap * 4;
$gridPadding: $gridGap * 2;

:root {
    font-size: 14px;
    font-family: Avenir, Inter, sans-serif;
}

body {
    background-color: $surfaceColor;
}

.phone {
    position: absolute;
    left: 30%;
    top: calc(50% - 400px);
    border: solid 4px #fff;
    overflow: hidden;

    &, &-root {
        width: $deviceWidth;
        height: $deviceHeight;
        border-radius: $gutter * 1.5;
        background-color: #0C131F;
    }

    &-root {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.navigation-container {
    position: absolute;
    bottom: 0;
    //top: unquote("calc(50% + #{$deviceHeight - $deviceNavbarHeight})");
    border-radius: 0 0 $gutter $gutter;
}

.pages {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px $gutter;
    width: 360px;

    &-element {
        //margin-bottom: $gutter;

        &:first-child {
            margin-top: $large-gutter;
        }

        &:last-child {
            margin-bottom: $large-gutter;
        }
    }
}

.is-tip {
    display: flex;
    width: unquote("calc( #{$deviceWidth} - #{2 * $containerInnerPadding})");
    flex-direction: column;
    align-items: flex-start;
    padding: $gridPadding;
    color: $tipColorAccent;
    background-color: $tipColor;
    border-radius: $gutter;
}

.navbar {
    &-backdrop {
        fill: $backgroundColor;
    }

    &-entry {
        fill: $ctaIdling;
        cursor: pointer;
    
        &.is-idling {
            fill-opacity: 0.5;
            cursor: default;
        }

        &.is-active {
            fill: $ctaPrimary;
            cursor: default;
        }

        /*&.is-clickable {
            cursor: pointer;
        }*/

        &-zone {
            opacity: 0;
        }
    }

    &-underline {
        opacity: 0;
    }

    .is-active &-underline {
        opacity: 1;
    }
}