$gutter: 1rem;
$large-gutter: $gutter * 4;

$deviceWidth: 360px;
$deviceHeight: 800px;
$deviceNavbarHeight: 72px;

$tipColor: #1468CB;
$tipColorSecondaryHue: #1253A0;
$tipColorAccent: #fff;

$ctaPrimary: #8DE8FE;
$ctaIdling: #fff;

$backgroundColor: #0C131F;
$surfaceColor: #242B35;

$gridGap: 8px;
$containerInnerPadding: $gridGap * 4;
$gridPadding: $gridGap * 2;

:root {
    font-size: 14px;
    font-family: Avenir, Inter, sans-serif;
}

body {
    background-color: $surfaceColor;
}

.phone {
    position: absolute;
    left: 30%;
    top: calc(50% - 400px);
    border: solid 4px #fff;
    overflow: hidden;

    &, &-root {
        width: $deviceWidth;
        height: $deviceHeight;
        border-radius: $gutter * 1.5;
        background-color: #0C131F;
    }

    &-root {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.navigation-container {
    position: absolute;
    bottom: 0;
    //top: unquote("calc(50% + #{$deviceHeight - $deviceNavbarHeight})");
    border-radius: 0 0 $gutter $gutter;
    z-index: 2;
}

.pages {
    display: flex;
    flex-direction: row;
    padding-bottom: 8rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px $gutter;
    width: 360px;

    &-element {
        //margin-bottom: $gutter;


        &:last-child {
            margin-bottom: $large-gutter;
        }
    }
}

#page-homepage .container-element:first-child{
    margin-top: $large-gutter;
}

#page-root-stations {
    align-self: flex-start;
}

.as-hidden {
    display: none;
}

.is-tip,
.is-step {
    flex-direction: column;
    align-items: stretch;
    column-gap: $gutter;
    color: $tipColorAccent;
    background-color: $tipColor;
    border-radius: $gutter;
    overflow: hidden;
}

.is-tip {
    display: flex;
    width: 328px;
}

.is-step {
    display: flex;
    top: 0;
    min-width: 160px;
    padding: $gridPadding;
    position: absolute;
    row-gap: $gridGap;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    &.as-hidden {
        display: none;
    }
}

.step {
    &-header,
    &-label,
    &-footer {
        display: flex;
        flex-direction: row;
    }

    &-header {
        font-size: 1.1rem;
        font-weight: 700;
    }

    &-footer {
        justify-content: space-between;
        margin-top: $gridGap;
    }
}

.tip {
    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: $gridPadding $gridPadding 0 $gridPadding;
    }

    &-body {
        display: flex;
        flex-direction: row;
        padding: $gridPadding $gridPadding;
        column-gap: $gridGap;

        &-label {
            align-self: center;
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    &-footer {
        padding: $gridGap $gridPadding $gridGap 72px;
        background-color: $tipColorSecondaryHue;
    }
}

.page {
    position:relative;
}

.navbar {
    &-backdrop {
        fill: $backgroundColor;
    }

    &-entry {
        fill: $ctaIdling;
        cursor: pointer;
    
        &.is-idling {
            fill-opacity: 0.5;
            cursor: default;
        }

        &.is-active {
            fill: $ctaPrimary;
            cursor: default;
        }

        /*&.is-clickable {
            cursor: pointer;
        }*/

        &-zone {
            opacity: 0;
        }
    }

    &-underline {
        opacity: 0;
    }

    .is-active &-underline {
        opacity: 1;
    }
}

.miniplayer {
    position: sticky;
    top: 0;
    opacity: 0;
    margin-top: -64px; // avoids taking page's content space
    z-index: 2;
}